<?xml version="1.0"?>
<robot name="warehouse_bot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Gazebo references -->
    <gazebo reference="chassis">
        <mu1 value="0.0" />
        <mu2 value="0.0" />
        <kp value="10000000.0" />
        <kd value="1.0" />
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_wheel_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="0 0 1" />
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="lr_wheel_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0" />
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rr_wheel_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0" />
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- <gazebo reference="line_lidar_1">

        <sensor name="laser1" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <always_on>true</always_on>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>15.0</max>
                </range>
            </ray>
            <plugin name="laser_controller1" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>line_lidar_1</frame_name>
            </plugin>
        </sensor>
    </gazebo> -->

    <gazebo reference="laser_frame_under">

        <sensor name="laser2" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-2.4</min_angle>
                        <max_angle>2.4</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>15.0</max>
                </range>
            </ray>
            <plugin name="laser_controller2" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan2</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame_under</frame_name>
            </plugin>
        </sensor>

    </gazebo>
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>imu</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
            <topicName>imu</topicName>
            <bodyName>imu_link</bodyName>
            <updateRateHZ>100.0</updateRateHZ>
            <gaussianNoise>0.0</gaussianNoise> 
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
            <ros>
                <namespace>/imu</namespace>
                <remapping>~/out:=data</remapping>
            </ros>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
    
</robot>